<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AvocaBin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="AvocaBin.Properties.Settings.DB_AvocabineConnectionString"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=DB_Avocabine;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="AvocaBin.Properties.Settings.DB_AvocabineConnectionString1"
      connectionString="Data Source=ABDESSAMAD-PC;Initial Catalog=DB_Avocabine;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <AvocaBin.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
      <setting name="DataBase" serializeAs="String">
        <value />
      </setting>
      <setting name="ID" serializeAs="String">
        <value />
      </setting>
      <setting name="PassWord" serializeAs="String">
        <value />
      </setting>
      <setting name="Server" serializeAs="String">
        <value />
      </setting>
      <setting name="Mode" serializeAs="String">
        <value />
      </setting>
      <setting name="DateInisial" serializeAs="String">
        <value />
      </setting>
      <setting name="DateFinal" serializeAs="String">
        <value />
      </setting>
    </AvocaBin.Properties.Settings>
  </userSettings>
  <startup useLegacyV2RuntimeActivationPolicy="True">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
